ui = true

storage "raft" {
  path    = "{{ vault_location }}"
  node_id = "{{ inventory_hostname }}"
}

listener "tcp" {
  address     = "127.0.0.1:{{ vault_port }}"
  tls_disable = "true" # localhost only, rely on revproxy for tls-termination
}

{% if disable_mlock %}
disable_mlock = true
{% endif %}

api_addr = "http://127.0.0.1:{{ vault_port }}"
cluster_addr = "http://127.0.0.1:8201"
